# Dossiers temporaires / caches
__pycache__/
*.pyc

# Environnement virtuel
venv/
.env/
.env

# Résultats de test, logs
*.log
htmlcov/
.cache/

# Dossiers de tests (peu importe leur profondeur)
**/test*/

# Clés ou scripts sensibles
fernet_key.py
config.py  
test-fernet.py

# Base de données locale / chiffrée (SQLCipher)
*.sqlite3
*.db
Backend/data/

# Éditeurs et systèmes
*.swp
*~
.vscode/
.idea/
.DS_Store
Thumbs.db
