# Dossiers temporaires / caches
__pycache__/
*.pyc

# Environnement virtuel
venv/
.env/

# Résultats de test, logs
*.log
htmlcov/
.cache/

# Ignorer tous les dossiers test/ peu importe leur emplacement
test/
*/test/
**/test/

.env
